.col {
    width: 25%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.img {
    width: 245px;
}

.card {
    margin: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.card-text {
    padding: 2px 10px;
    color: black;
}
